#{headings()} {
    margin: 0 0 1em 0;
    font-weight: $weight-bold;
}

h1,.alpha{
    font-size: size(h1);
}
h2,.beta{
    font-size: size(h2);
}
h3,.gamma{
    font-size: size(h3);
}
h4,.delta{
    font-size: size(h4);
}
h5,.epsilon{
    font-size: size(h5);
}
h6,.zeta{
    font-size: size(h6);
}


//
// Extra classes for bigger sizes
//
.giga{
    font-size: size(giga);
}
.mega{
    font-size: size(mega);
}
.kilo{
    font-size: size(kilo);
}