@import "generic/functions";
@import "settings";
@import "generic/breakpoint";

.c-entry {
    a:visited { color: lighten($global-font-color,5%); }
    img {
		max-width: 100%;
		height: auto !important;
	}

    @include breakpoint(xsmall down) {
        table {
            display: block;
            max-width: 100%;
            width: auto !important;
        }
    }
}

.c-entry,
.redactor-editor {
	font-family: $global-font-family;
	font-size: $global-font-size;
    line-height: 1.5;
	color: $global-font-color;

	p {
	    margin: 1em 0;
	    padding: 0;
	}

	img {
        max-width: 100%;
        height: auto;
	    border: none;
	}

	blockquote {
		margin: 1em 0 1em 1em;
	    font-family: Georgia, serif;
	    color: #888;
	}

	ul {
	    padding: 0 0 0 1em;
		margin: 1em 0 1em 1em;
		list-style: disc;
	}

	ol {
	    padding: 0 0 0 1em;
		margin: 1em 0 1em 1em;
		list-style: decimal;
	}

	li {
	    clear: both;
	}

	/* sub / sup */
	sub,
	sup {
	    font-size: $global-font-size - 2px;
	}

	/* tables */
	table {
        table-layout: fixed;
	    empty-cells: show;
	    border-color: $global-font-color;
	    border-collapse: collapse;
	    border-spacing: 0;
        width: 100%;
	}

	/*
	 * Editor style list
	 */
	h2 {
		font-family: $global-font-family;
	}

	h3 {
		font-family: $global-font-family;
	}

	h4 {
		font-family: $global-font-family;
	}
}


/**
 * Custom styles
 */
.text {
    /**
     * Text size
     */
    &__size {
        &--large {
            font-size: $global-font-size + 2px;
        }

        &--small {
            font-size: $global-font-size - 2px;
        }
    }

    /**
     * Text color
     */
    &__color {
        &--primary {
            color: $primary-color;
        }
    }

    /**
     * Text layout
     */
    &__layout {
        @include breakpoint(small) {
            &--2columns {
                display: block;
                column-count: 2;
                column-width: $column-width;
                column-gap: $global-padding;
                column-rule: 1px solid $global-border-color;
            }

            &--3columns {
                display: block;
                column-count: 3;
                column-width: $column-width;
                column-gap: $global-padding;
                column-rule: 1px solid $global-border-color;
            }
        }
    }
}
